@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #f6f6f6;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

b {
  font-weight: 600;
}